@keyframes appearAndScale {
  0% {
    opacity: 0;
    transform: scale(0.75);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

:root {
  --spin-duration: 1s;
}
.Loader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 2em;
}
.Loader-content {
  padding-left: 1em;
}
.Loader-wrapper {
  position: relative;
  width: 2em;
  height: 2em;
}

.Loader-dotWrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.Loader-dot {
  position: absolute;
  top: 0;
  left: 50%;
  width: 0.3em;
  height: 0.3em;
  opacity: 0.5;
  transform: scale(0.75);
  animation-name: appearAndScale;
  animation-duration: var(--spin-duration);
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}
.Loader-dot::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: currentColor;
  transform: translateX(-50%);
}
.Loader-dotWrapper:nth-child(1) {
  transform: rotate(calc(360deg / 10 * 1));
}
.Loader-dotWrapper:nth-child(2) {
  transform: rotate(calc(360deg / 10 * 2));
}
.Loader-dotWrapper:nth-child(3) {
  transform: rotate(calc(360deg / 10 * 3));
}
.Loader-dotWrapper:nth-child(4) {
  transform: rotate(calc(360deg / 10 * 4));
}
.Loader-dotWrapper:nth-child(5) {
  transform: rotate(calc(360deg / 10 * 5));
}
.Loader-dotWrapper:nth-child(6) {
  transform: rotate(calc(360deg / 10 * 6));
}
.Loader-dotWrapper:nth-child(7) {
  transform: rotate(calc(360deg / 10 * 7));
}
.Loader-dotWrapper:nth-child(8) {
  transform: rotate(calc(360deg / 10 * 8));
}
.Loader-dotWrapper:nth-child(9) {
  transform: rotate(calc(360deg / 10 * 9));
}
.Loader-dotWrapper:nth-child(10) {
  transform: rotate(calc(360deg / 10 * 10));
}

.Loader-dotWrapper:nth-child(1) .Loader-dot,
.Loader-dotWrapper:nth-child(1) {
  animation-delay: calc(var(--spin-duration) / 10 * 1);
}
.Loader-dotWrapper:nth-child(2) .Loader-dot,
.Loader-dotWrapper:nth-child(2) {
  animation-delay: calc(var(--spin-duration) / 10 * 2);
}
.Loader-dotWrapper:nth-child(3) .Loader-dot,
.Loader-dotWrapper:nth-child(3) {
  animation-delay: calc(var(--spin-duration) / 10 * 3);
}
.Loader-dotWrapper:nth-child(4) .Loader-dot,
.Loader-dotWrapper:nth-child(4) {
  animation-delay: calc(var(--spin-duration) / 10 * 4);
}
.Loader-dotWrapper:nth-child(5) .Loader-dot,
.Loader-dotWrapper:nth-child(5) {
  animation-delay: calc(var(--spin-duration) / 10 * 5);
}
.Loader-dotWrapper:nth-child(6) .Loader-dot,
.Loader-dotWrapper:nth-child(6) {
  animation-delay: calc(var(--spin-duration) / 10 * 6);
}
.Loader-dotWrapper:nth-child(7) .Loader-dot,
.Loader-dotWrapper:nth-child(7) {
  animation-delay: calc(var(--spin-duration) / 10 * 7);
}
.Loader-dotWrapper:nth-child(8) .Loader-dot,
.Loader-dotWrapper:nth-child(8) {
  animation-delay: calc(var(--spin-duration) / 10 * 8);
}
.Loader-dotWrapper:nth-child(9) .Loader-dot,
.Loader-dotWrapper:nth-child(9) {
  animation-delay: calc(var(--spin-duration) / 10 * 9);
}
.Loader-dot:nth-child(10),
.Loader-dotWrapper:nth-child(10) {
  animation-delay: calc(var(--spin-duration) / 10 * 10);
}
