.Figure {
  display: block;
  margin: 0;
}
.Figure--fit {
  flex: 1 0 auto;
  display: flex;
}
.Figure--fit .Figure-wrapper {
  flex: 1;
  align-self: center;
}
.Figure--clickable .Figure-image {
  cursor: pointer;
}

.Figure-image {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
}

.Figure-wrapper {
  position: relative;
  overflow: hidden;
}

.Figure--withDimension .Figure-image,
.Figure--cover .Figure-image,
.Figure--contain .Figure-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.Figure--contain .Figure-image {
  object-fit: contain;
}
