.FormCheckbox {
  padding: 1px 0;
}
.FormCheckbox-inputWrapper {
}
.FormCheckbox-input {
  position: absolute;
  left: -999em;
}
.FormCheckbox-label {
  padding-left: 1.75em;
  position: relative;
}
.FormCheckbox-label::before {
  content: '';
  text-align: center;
  line-height: 1em;
  position: absolute;
  left: 0.25em;
  top: 50%;
  margin-top: -0.5em;
  width: 1em;
  height: 1em;
  box-shadow: 0 0 0 1px var(--color-black38);
  transition: var(--transition);
}
.FormCheckbox-label:hover::before {
  box-shadow: 0 0 0 1px var(--color-black60);
}
.FormCheckbox-input:focus + .FormCheckbox-label::before {
  box-shadow: 0 1px 2px 0 var(--color-light-turquoise),
    inset 0 0 0 1px var(--color-turquoise);
}
.FormCheckbox-input:checked + .FormCheckbox-label::before {
  color: var(--color-white);
  background: var(--color-red);
}
.FormCheckbox-checkIcon {
  text-align: center;
  line-height: 1em;
  position: absolute;
  left: 0.25em;
  top: 50%;
  margin-top: -0.5em;
  opacity: 0;
  transition: opacity var(--transition);
  color: var(--color-white);
}
.FormCheckbox-input:checked + .FormCheckbox-label .FormCheckbox-checkIcon {
  opacity: 1;
}
.FormCheckbox--disabled .FormCheckbox-label {
  color: var(--color-grey);
  pointer-events: none;
}
.FormCheckbox-input:disabled + .FormCheckbox-label::before,
.FormCheckbox-input:disabled + .FormCheckbox-label:hover::before {
  background: var(--color-light-grey);
  box-shadow: none;
}
.FormCheckbox-input:disabled + .FormCheckbox-label .FormCheckbox-checkIcon {
  color: inherit;
}
