:root {
  --select-width: 280px;
  --select-border-radius: 0;
  --select-border-color: var(--color-grey);
  --select-border-color-hover: var(--color-grey);
  --select-border-color-focus: var(--color-grey);
}
.Select {
  font-family: var(--font-family-form, inherit);
  width: var(--select-width);
  box-sizing: border-box;
}
.Select--inline {
  display: inline-block;
  width: auto;
}
.Select-inputWrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
}
.Select--fill {
  width: 100%;
}
.Select--fill .Select-input {
  width: 100%;
}
.Select-input {
  background: #fff;
  box-sizing: border-box;
  font: inherit;
  border: 1px solid var(--select-border-color);
  display: inline-block;
  font-size: inherit;
  box-shadow: none;
  width: 100%;
  line-height: 2.25em;
  height: 2.5em;
  appearance: none;
  border-radius: var(--select-border-radius);
  padding: 0 1em;
  box-sizing: border-box;
}
.Select-input:hover {
  border: 1px solid var(--select-border-color-hover);
}

.Select-input::-ms-expand {
  display: none;
}
.Select-input option {
  font-weight: normal;
}

.Select--plain .Select-input,
.Select--discreet .Select-input,
.Select--plain .Select-pickerIcon {
  background: none;
  border: none;
}
.Select-label {
  margin-bottom: 0.25em;
}

.Select-pickerIcon {
  position: absolute;
  right: 2px;
  top: 2px;
  bottom: 2px;
  height: auto;
  padding: 0 10px;
  background: #fff;
  pointer-events: none;
  display: flex;
  align-items: center;
  border-radius: var(--select-border-radius);
  color: currentColor;
}
.Select-input[disabled],
.Select-input[disabled] + .Select-pickerIcon {
  background: var(--color-lighter-grey);
}

.Select-input:focus,
.Select-input:active,
.Select--valid .Input-input:focus,
.Select--valid .Input-input:active,
.Select--invalid .Input-input:focus,
.Select--invalid .Input-input:active {
  border-color: var(--select-border-color-focus);
  box-shadow: 0 1px 3px rgba(0, 160, 186, 0.25);
  outline: none;
}

.Select--discreet .Select-inputWrapper::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: 2px solid;
  opacity: 0.25;
  pointer-events: none;
}
.Select--discreet.Select--floatingLabel.Select--hasFocus .Select-label {
  color: var(--color-primary-action);
}
.Select--discreet.Select--hasFocus .Select-inputWrapper::after {
  border-bottom-color: var(--color-primary-action);
  opacity: 1;
}
