:root {
  --button-radius: 0;
  --button-color: var(--color-primary-action);
}
.Button {
  border-radius: var(--button-radius);
  font: inherit;
  line-height: 2em;
  padding: 0 1em;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.15);
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border: none;
  background: var(--color-white);
  color: var(--color-primary-action);
}
.Button--large {
  padding: 0.75em 1.5em;
}
.Button--withIcon.Button--hiddenText {
  padding: 0.5em;
}
.Button--large.Button--withIcon.Button--hiddenText {
  padding: 1.25em;
}

.Button--primary {
  background: var(--color-primary-action);
  color: var(--color-white);
}
.Button--plain {
  color: inherit;
  background: transparent;
  box-shadow: none;
  padding: 0;
  line-height: inherit;
  text-transform: inherit;
}
.Button--disabled {
  cursor: normal;
  color: var(--color-disabled);
}
.Button--noPadding {
  padding: 0;
}
.Button--fill {
  display: block;
  width: 100%;
}
.Button-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.Button-icon {
  flex: 0;
  padding: 1em 0;
}
.Button-text {
  flex: 1 0 auto;
}
.Button--withIcon .Button-text {
  padding-left: 0.5em;
  flex: 0 0 auto;
}
.Button--withIcon.Button--iconAfter .Button-wrapper {
  flex-direction: row-reverse;
}
.Button--withIcon.Button--iconAfter .Button-text {
  padding-right: 0.5em;
}
