:root {
  --button-radius: 0;

  --button-background: var(--color-white);
  --button-color: var(--color-primary-action);
  --button-shadow: inset 0 0 0 2em rgba(0, 0, 0, 0);

  --button-hover-background: var(--color-white);
  --button-hover-color: var(--color-primary-action);
  --button-hover-shadow: inset 0 0 0 2em rgba(0, 0, 0, 0.8);

  --button-active-background: var(--color-white);
  --button-active-color: var(--color-primary-action);
  --button-active-shadow: inset 0 0 0 2em rgba(0, 0, 0, 0.3);

  --button-primary-background: var(--color-primary-action);
  --button-primary-color: var(--color-white);

  --button-primary-hover-background: var(--color-white);
  --button-primary-hover-color: var(--color-primary-action);
  --button-primary-hover-shadow: inset 0 0 0 2em rgba(0, 0, 0, 0.8);

  --button-primary-active-background: var(--color-white);
  --button-primary-active-color: var(--color-primary-action);
  --button-primary-active-shadow: inset 0 0 0 2em rgba(0, 0, 0, 0.3);
}
.Button {
  border-radius: var(--button-radius);
  font: inherit;
  line-height: 2em;
  padding: 0 1em;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.15);
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border: none;
  transition: all var(--transition);
  background: var(--button-background);
  color: var(--button-color);
  box-shadow: var(--button-shadow);
}
.Button--large {
  padding: 0.75em 1.5em;
}
.Button--round {
  border-radius: 2em;
}
.Button--withIcon.Button--hiddenText {
  padding: 0.5em;
}
.Button--large.Button--withIcon.Button--hiddenText {
  padding: 0.5em;
  font-size: 1.25em;
}

.Button:not(.Button--plain):not(.Button--disabled):hover {
  background-color: var(--button-hover-background, var(--button-background));
  color: var(--button-hover-color, var(--button-color));
  box-shadow: var(--button-hover-shadow, var(--button-shadow));
}
.Button:not(.Button--plain):not(.Button--disabled):active {
  transition: all var(--transition-quick, var(--transition));
  background-color: var(--button-active-background, var(--button-background));
  color: var(--button-active-color, var(--button-color));
  box-shadow: var(--button-active-shadow, var(--button-shadow));
}
.Button--primary {
  background: var(--button-primary-background);
  color: var(--button-primary-color);
}
.Button--primary:not(.Button--plain):not(.Button--disabled):hover {
  background-color: var(
    --button-primary-hover-background,
    var(--button-background)
  );
  color: var(--button-primary-hover-color, var(--button-color));
  box-shadow: var(--button-primary-hover-shadow, var(--button-shadow));
}
.Button--primary:not(.Button--plain):not(.Button--disabled):active {
  transition: all var(--transition-quick, var(--transition));
  background-color: var(
    --button-primary-active-background,
    var(--button-background)
  );
  color: var(--button-primary-active-color, var(--button-color));
  box-shadow: var(--button-primary-active-shadow, var(--button-shadow));
}
.Button--plain {
  color: inherit;
  background: transparent;
  box-shadow: none;
  padding: 0;
  line-height: inherit;
  text-transform: inherit;
}
.Button--disabled {
  cursor: inherit;
  opacity: 0.5;
}
.Button--withTheme.Button--disabled {
  opacity: 0.6;
}
.Button--noPadding {
  padding: 0;
}
.Button--fill {
  display: block;
  width: 100%;
}
.Button-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.Button-icon {
  flex: 0;
  padding: 0;
}
.Button-text {
  flex: 1 0 auto;
}
.Button--withIcon .Button-text {
  padding-left: 0.5em;
  flex: 0 0 auto;
}
.Button--withIcon.Button--iconAfter .Button-wrapper {
  flex-direction: row-reverse;
}
.Button--withIcon.Button--iconAfter .Button-text {
  padding-right: 0.5em;
  padding-left: 0;
}
.Button--withIcon.Button--plain .Button-text {
  padding-left: 0.5em;
}
.Button--withIcon.Button--plain.Button--iconAfter .Button-text {
  padding-right: 0.5em;
  padding-left: 0;
}
