:root {
  --button-radius: 0;
  --button-border: none;
  --button-line-height: 2em;
  --button-background: var(--color-white);
  --button-color: var(--color-primary-action);
  --button-shadow: inset 0 0 0 2em rgba(0, 0, 0, 0);
  --button-padding: 0 1em;
  --button-font-weight: normal;

  --button-background-hover: var(--color-white);
  --button-color-hover: var(--color-primary-action);
  --button-shadow-hover: inset 0 0 0 2em rgba(0, 0, 0, 0.2);

  --button-background-active: var(--color-white);
  --button-color-active: var(--color-primary-action);
  --button-shadow-active: inset 0 0 0 2em rgba(0, 0, 0, 0.3);

  --button-primary-background: var(--color-primary-action);
  --button-primary-color: var(--color-white);
  --button-primary-shadow: 0 0 0 2px var(--color-white);

  --button-primary-background-hover: var(--color-white);
  --button-primary-color-hover: var(--color-primary-action);
  --button-primary-shadow-hover: inset 0 0 0 2em rgba(0, 0, 0, 0.8);

  --button-primary-background-active: var(--color-white);
  --button-primary-color-active: var(--color-primary-action);
  --button-primary-shadow-active: inset 0 0 0 2em rgba(0, 0, 0, 0.3);

  --button-secondary-background: var(--color-secondary-action);
  --button-secondary-color: var(--color-white);
  --button-secondary-shadow: 0 0 0 2px var(--color-white);

  --button-secondary-background-hover: var(--color-white);
  --button-secondary-color-hover: var(--color-secondary-action);
  --button-secondary-shadow-hover: inset 0 0 0 2em rgba(0, 0, 0, 0.8);

  --button-secondary-background-active: var(--color-white);
  --button-secondary-color-active: var(--color-secondary-action);
  --button-secondary-shadow-active: inset 0 0 0 2em rgba(0, 0, 0, 0.3);
}
.Button {
  border-radius: var(--button-radius);
  font: inherit;
  line-height: var(--button-line-height);
  font-weight: var(--button-font-weight);
  padding: var(--button-padding);
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.15);
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border: var(--button-border);
  transition: all var(--transition);
  background: var(--button-background);
  color: var(--button-color);
  box-shadow: var(--button-shadow);
  box-sizing: border-box;
  text-align: center;
}
.Button--small {
  padding: 0 0.5em;
  line-height: 1.5em;
}
.Button--large {
  padding: 0.75em 1.5em;
}
.Button--round {
  border-radius: 2em;
}
.Button--withIcon.Button--hiddenText {
  padding: 0.5em;
  min-width: 0;
}
.Button--large.Button--withIcon.Button--hiddenText {
  padding: 0.5em;
  font-size: 1.25em;
}

.Button:not(.Button--plain, .Button--disabled, .Button--withTheme, .Button--primary, .Button--secondary):hover {
  background-color: var(--button-background-hover, var(--button-background));
  color: var(--button-color-hover, var(--button-color));
  box-shadow: var(--button-shadow-hover, var(--button-shadow));
}

.Button:not(.Button--plain, .Button--disabled, .Button--withTheme, .Button--primary, .Button--secondary):active {
  transition: all var(--transition-quick, var(--transition));
  background-color: var(--button-background-active, var(--button-background));
  color: var(--button-color-active, var(--button-color));
  box-shadow: var(--button-shadow-active, var(--button-shadow));
}

.Button--primary {
  border: none;
  background: var(--button-primary-background);
  color: var(--button-primary-color);
  box-shadow: var(--button-primary-shadow);
}
.Button--primary:not(.Button--plain, .Button--disabled):hover {
  background-color: var(
    --button-primary-background-hover,
    var(--button-background)
  );
  color: var(--button-primary-color-hover, var(--button-color));
  box-shadow: var(--button-primary-shadow-hover, var(--button-shadow));
}
.Button--primary:not(.Button--plain, .Button--disabled):active {
  transition: all var(--transition-quick, var(--transition));
  background-color: var(
    --button-primary-background-active,
    var(--button-background)
  );
  color: var(--button-primary-color-active, var(--button-color));
  box-shadow: var(--button-primary-shadow-active, var(--button-shadow));
}
.Button--secondary {
  border: none;
  background: var(--button-secondary-background);
  color: var(--button-secondary-color);
  box-shadow: var(--button-secondary-shadow);
}
.Button--secondary:not(.Button--plain, .Button--disabled):hover {
  background-color: var(
    --button-secondary-background-hover,
    var(--button-background)
  );
  color: var(--button-secondary-color-hover, var(--button-color));
  box-shadow: var(--button-secondary-shadow-hover, var(--button-shadow));
}
.Button--secondary:not(.Button--plain, .Button--disabled):active {
  transition: all var(--transition-quick, var(--transition));
  background-color: var(
    --button-secondary-background-active,
    var(--button-background)
  );
  color: var(--button-secondary-color-active, var(--button-color));
  box-shadow: var(--button-secondary-shadow-active, var(--button-shadow));
}

.Button--plain {
  color: inherit;
  background: transparent;
  border: none;
  box-shadow: none;
  padding: 0;
  line-height: inherit;
  text-transform: inherit;
}
.Button--disabled {
  cursor: inherit;
  opacity: 0.5;
}
.Button--withTheme {
  border: none;
}
.Button--withTheme.Button--disabled {
  opacity: 0.6;
}
.Button--noPadding {
  padding: 0;
}
.Button--fill {
  display: block;
  width: 100%;
}
.Button-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.Button--left .Button-wrapper {
  justify-content: flex-start;
}
.Button--right .Button-wrapper {
  justify-content: flex-end;
}
.Button--spread .Button-wrapper {
  justify-content: space-between;
}
.Button-icon {
  flex: 0;
  padding: 0;
}
.Button-text {
  flex: 1 0 auto;
}
.Button--withIcon .Button-text {
  padding-left: 0.5em;
  flex: 0 0 auto;
}
.Button--withIcon.Button--iconAfter .Button-wrapper {
  flex-direction: row-reverse;
}
.Button--withIcon.Button--iconAfter .Button-text {
  padding-right: 0.5em;
  padding-left: 0;
}
.Button--withIcon.Button--plain .Button-text {
  padding-left: 0.5em;
}
.Button--withIcon.Button--plain.Button--iconAfter .Button-text {
  padding-right: 0.5em;
  padding-left: 0;
}
