.List {
  column-gap: var(--layout-gutter, 2em);
}

.List-list {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-start: 0;
}
.List--horizontal > .List-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: -0.5em;
  flex-wrap: wrap;
}
.List--horizontal > .List-list > .List-item {
  padding: 0.5em;
}
.List--ordered .List-item::before {
  content: counter(list-item-count);
  position: absolute;
  left: -1.25em;

  font-weight: var(--font-weight-medium);
}
.List--withBulletIcon,
.List--ordered,
.List--unordered {
  padding-left: 1.5em;
}
.List--unordered .List-item::before {
  content: '';
  width: 0.5em;
  height: 0.5em;
  background: currentColor;
  border-radius: 1em;
}
.List-bulletIcon,
.List--unordered .List-item::before {
  position: absolute;
  left: -1.25em;
  top: 0.75em;
}

.List-item {
  position: relative;
  counter-increment: list-item-count;
  position: relative;
  padding: 0.5em 0;
  margin: 0;
  list-style: none;
}

.List--withBulletIcon .List-item,
.List--ordered .List-item,
.List--unordered .List-item {
  padding-left: 0.25em;
}

.List--divided > .List-list > .List-item {
  border-bottom: 1px solid var(--list-divider-color, var(--color-light-grey));
}
.List--plain .List-item::before {
  content: none !important;
}
.List-item:first-child {
  margin-top: 0;
}
.List-item:last-child {
  margin-bottom: 0;
}
.List-link {
  display: block;
  margin: -0.5em -1em;
  padding: 0.5em 1em;
}

.List--striped .List-item:nth-child(2n) {
  background: rgba(0, 0, 0, 0.1);
}
.List--vertical:not(.List--plain) .List-item--linked:hover {
  background: rgba(0, 0, 0, 0.1);
}

.List--plain .List-item--linked:hover,
.List--plain.List--striped .List-item:nth-child(2n) {
  background: none;
}
.List--plain.List--vertical .List-item,
.List--plain.List--vertical .List-link {
  padding: 0;
  margin: 0;
}
