:root {
  --color-tab-background: #fff;
  --color-tab-border-color: var(--color-grey);
}
.Tabs {
  padding-bottom: 1px;
  box-sizing: border-box;
}
.Tabs-list {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}
.Tabs--spread .Tabs-list {
  justify-content: stretch;
}
.Tabs--wrap .Tabs-list {
  flex-wrap: wrap;
}

.Tabs-item {
  margin: 0;
  padding: 0;
  list-style: none;
}
.Tabs-tab {
  padding: 0.5em 1em;
  background: var(--color-tab-background);
  border: 1px solid var(--color-tab-border-color);
  border-bottom: none;
  outline: none;
}
.Tabs-tab--selected {
  background: var(--color-primary-action);
  color: var(--color-primary-action-contrast, #fff)
}
.Tabs-content {
  border-top: 1px solid var(--color-tab-border-color);
}
.Tabs-panel {
}
