.Hero {
  position: relative;
  width: 100vw;
  transform: translateX(-50%);
  left: 50%;
  display: flex;
  min-height: 50vh;
  align-items: center;
  z-index: 0;
}
@media (min-height: 1280px) {
  .Hero {
    min-height: 600px;
  }
}

.Hero--dimensions {
  max-height: none;
  min-height: none;
}
.Hero-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  z-index: -1;
}
.Hero-content {
  flex: 1;
  padding: calc(2 * var(--layout-gutter)) var(--layout-gutter);
}
