.Title {
}
.Title-icon {
  vertical-align: middle;
  padding-right: 0.25em;
}
.Title--withIcon .Title-wrapper {
  display: inline-flex;
  align-items: center;
}
.Title--withIcon.Title--iconAfter .Title-wrapper  {
  flex-direction: row-reverse;
}
.Title--themed {
  padding: 0.25em 0.5em;
}
.Title--inline {
  display: inline-block;
}
