.Divider {
  border: none;
  background: none;
  border-top: 1px solid var(--color-light-grey);
  margin: calc(var(--layout-gutter) * 3) 0;
  display: block;
  clear: both;
}
.Divider--blank {
  border: none;
  margin-top: 0;
}
.Divider--thin {
  margin: var(--layout-gutter) 0;
}
.Divider[data-text]::after {
  content: attr(data-text);
  position: absolute;
  left: 50%;
  color: inherit;
  transform: translate(-50%, -50%);
  z-index: 3;
  display: block;
  background: white;
  padding: 1em;
  font-size: 0.85em;
}
