.Divider {
  position: relative;
  display: flex;
  flex-direction: row;
  margin: calc(var(--layout-gutter) * 3) 0;
  align-items: center;
}
.Divider--blank {
  margin-top: 0;
}
.Divider-line {
  border: none;
  background: none;
  border-top: 1px solid var(--color-light-grey);
  display: block;
  clear: both;
  margin: 0;
  flex: 1 0 auto;
}
.Divider--blank .Divider-line {
  border: none;
}
.Divider--thin {
  margin: var(--layout-gutter) 0;
}
.Divider-text {
  flex: 0 0 auto;
  padding: 0 1em;
}
