@keyframes appear {
  0% {
    opacity: 0.3;
    transform: scale(0.9) translateY(-40%);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(-50%);
  }
}

.Modalbox-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: var(--z-modal);
  background: rgba(0, 0, 0, 0.6);
}
.Modalbox {
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;

  transform: translateY(-50%);
  min-height: 100px;
  max-height: 100vh;
  width: 624px;
  max-width: 90vw;
  overflow: auto;
  background: #fff;
  z-index: var(--z-modal);
  transform-origin: 50% 0;
  animation: appear 0.2s ease-out;
  box-shadow: 0 0 24px 4px rgba(33, 33, 33, 0.08);
}
.Modalbox--large {
  width: 1024px;
}
.Modalbox--small {
  width: 400px;
}
.Modalbox--block {
  position: relative;
  top: 0;
  transform: none;
}
.Modalbox-header {
  padding: var(--layout-gutter) var(--layout-gutter) 0;
}
.Modalbox--withTitle .Modal-header {
  border-bottom: thin solid var(--color-light-grey);
  padding: 1em 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.Modalbox-title {
  margin: 0;
}

.Modalbox-content {
  padding: var(--layout-gutter);
}

.Modalbox-closebutton {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}
