.Input {
  width: 280px;
}
.Input-inputWrapper {
  width: 100%;
  display: inline-block;
}
.Input-input {
  background: #fff;
  box-sizing: border-box;
  font: inherit;
  border: 1px solid var(--color-light-grey);
  color: inherit;
  line-height: 2.25em;
  min-height: 2.5em;
  display: inline-block;
  font-size: inherit;
  padding: 0 0 0 0.5em;
  box-shadow: none;
  width: 100%;
  outline: none;
  appearance: none;
}
.Input--floatingLabel .Input-label {
  transition: all var(--animation-transition, 0.25s ease-in);
  transform: scale(0.75) translateY(0.5em);
  transform-origin: 0;
  position: relative;
  z-index: 1;
  pointer-events: none;
}
.Input--floatingLabel.Input--withIcon .Input-label {
  left: 2em;
}
.Input--floatingLabel.Input--hasFocus .Input-label {
  font-weight: var(--font-weight-bold);
}
.Input--floatingLabel:not(.Input--hasValue):not(.Input--hasFocus) .Input-label {
  transform: translateY(2.15em) translateX(0.75em) scale(1);
}
.Input--floatingLabel.Input--discreet:not(.Input--hasValue):not(.Input--hasFocus)
  .Input-label {
  transform: translateY(2em) scale(1);
}
.Input--discreet .Input-input {
  background: none;
  border: none;
  border-bottom: 2px solid var(--color-dark-grey);
  padding: 0;
}
.Input--discreet.Input--floatingLabel.Input--hasFocus .Input-label {
  color: var(--color-primary-action);
}
.Input--discreet.Input--hasFocus .Input-input {
  border-bottom-color: var(--color-primary-action);
}
.Input:not(.Input--discreet):not(.Input--withTheme) .Input-input:hover {
  border: 1px solid var(--color-medium-grey);
}
.Input--hideCaret .Input-inputWrapper {
  position: relative;
}
.Input--hideCaret .Input-inputWrapper::before {
  content: attr(data-value);
  white-space: nowrap;
  text-overflow: ellipsis;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0.5em;
  pointer-events: none;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}
.Input--hideCaret .Input-input {
  color: transparent;
}
.Input--withTheme .Input-input {
  background: none;
  border: none;
}

.Input--fill .Input-inputWrapper {
  max-width: none;
  display: block;
}
.Input--fill {
  width: 100%;
}
.Input-label {
  margin-bottom: 0.25em;
}
.Input-inputWrapper {
  position: relative;
}
.Input-inputIcon {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 1.25em;
}
.Input-inputIcon + .Input-input {
  padding-left: 2.5em;
}
.Input-input[size='1'] {
  width: 3em;
}
.Input-input[size='2'] {
  width: 4em;
}
.Input-input[size='3'] {
  width: 5em;
}
.Input-input[size='4'] {
  width: 6em;
}
.Input-input[size='5'] {
  width: 7em;
}
.Input-input[size='6'] {
  width: 8em;
}
.Input-input[size='7'] {
  width: 9em;
}
.Input-input[size='8'] {
  width: 10em;
}
.Input-input[size='9'] {
  width: 11em;
}
.Input-input[size='10'] {
  width: 12em;
}

.Input--invalid .Input-input {
  border-color: var(--color-error);
  background-color: rgba(194, 64, 23, 0.12);
}
.Input--invalid.Input--discreet .Input-input {
  background-color: transparent;
}
.Input-error {
  display: block;
  margin: 0.5em 0;
  font-size: var(--font-size-small);
  color: var(--color-error);
}
.Input-errorIcon {
  margin: -0.4em 0.25em 0 0;
}

.Input--hasFocus:not(.Input--discreet) .Input-input {
  border: 1px solid var(--color-focus);
  box-shadow: 0 1px 3px rgba(0, 160, 186, 0.25);
  outline: none;
}

.Input-input[disabled] {
  border-color: var(--color-disabled);
  background: var(--color-lighter-grey);
  box-shadow: none;
}

.Input--rounded .Input-input {
  border-radius: 2em;
  padding-right: 0.75em;
}
