:root {
  --input-width: 280px;
  --input-border-radius: 0;
  --input-border-width: 1px;
  --input-border-color: var(--color-light-grey);
  --input-border-color-focus: var(--color-focus);
  --input-border-color-hover: var(--color-medium-grey);
  --input-border-color-disabled: var(--color-disabled);
  --input-border-color-error: var(--color-error);

  --input-background-color: var(--color-white);
  --input-text-color: var(--color-black, #000);
  --input-background-color-disabled: var(--color-light-grey);
  --input-floating-label-opacty: 1;
  --input-line-height: 2.25em;
  --input-min-height: 2.5em;
}
.Input {
  width: var(--input-width);
  max-width: 100%;
}
.Input--inline {
  display: inline-block;
  width: auto;
}
.Input-inputWrapper {
  width: 100%;
  display: inline-block;
  background: var(--input-background-color);
  color: var(--input-text-color);
  border-radius: var(--input-border-radius);
  position: relative;
  z-index: 0;
}
.Input-details {
  position: absolute;
  right: 1em;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.7;
  z-index: -1;
}
.Input-input {
  background: transparent;
  box-sizing: border-box;
  font: inherit;
  border: var(--input-border-width) solid var(--input-border-color);
  color: inherit;
  line-height: var(--input-line-height);
  min-height: var(--input-min-height);
  display: inline-block;
  font-size: inherit;
  padding: 0 0 0 0.5em;
  box-shadow: none;
  width: 100%;
  outline: none;
  appearance: none;
  border-radius: var(--input-border-radius);
}
.Input--floatingLabel .Input-label {
  transition: all var(--animation-transition, 0.25s ease-in);
  transform: scale(0.75) translateY(0.5em);
  opacity: 1;
  transform-origin: 0;
  position: relative;
  z-index: 1;
  pointer-events: none;
}
.Input--floatingLabel.Input--withIcon .Input-label {
  left: 2em;
}
.Input--floatingLabel.Input--hasFocus .Input-label {
  font-weight: var(--font-weight-bold);
}
.Input--floatingLabel:not(.Input--hasValue, .Input--hasFocus) .Input-label {
  transform: translateY(calc(1.1em + (var(--input-min-height) / 2)))
    translateX(0.75em) scale(1);
  opacity: var(--input-floating-label-opacty);
}
.Input--floatingLabel.Input--discreet:not(.Input--hasValue, .Input--hasFocus)
  .Input-label {
  transform: translateY(2em) scale(1);
}
.Input--discreet .Input-inputWrapper {
  color: inherit;
  background: transparent;
}
.Input--discreet .Input-input {
  background: none;
  border: none;
  color: inherit;
  padding: 0;
}
.Input--discreet .Input-inputWrapper::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: 2px solid;
  opacity: 0.25;
  pointer-events: none;
}
.Input--discreet.Input--floatingLabel.Input--hasFocus .Input-label {
  color: var(--color-primary-action);
}
.Input--discreet.Input--hasFocus .Input-inputWrapper::after {
  border-bottom-color: var(--color-primary-action);
  opacity: 1;
}
.Input:not(.Input--discreet, .Input--withTheme) .Input-input:hover {
  border-color: var(--input-border-color-hover);
}
.Input--hideCaret .Input-inputWrapper {
  position: relative;
}
.Input--hideCaret .Input-inputWrapper::before {
  content: attr(data-value);
  white-space: nowrap;
  text-overflow: ellipsis;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0.5em;
  pointer-events: none;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}
.Input--hideCaret .Input-input {
  color: transparent;
}
.Input--withTheme .Input-input {
  background: none;
  border: none;
}

.Input--fill .Input-inputWrapper {
  max-width: none;
  display: block;
}
.Input--fill {
  width: 100%;
}
.Input-label {
  margin-bottom: 0.25em;
}
.Input-inputWrapper {
  position: relative;
}
.Input-inputIcon {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 1.25em;
}
.Input-inputIcon + .Input-input {
  padding-left: 2.5em;
}
.Input-input[size='1'] {
  width: 3em;
}
.Input-input[size='2'] {
  width: 4em;
}
.Input-input[size='3'] {
  width: 5em;
}
.Input-input[size='4'] {
  width: 6em;
}
.Input-input[size='5'] {
  width: 7em;
}
.Input-input[size='6'] {
  width: 8em;
}
.Input-input[size='7'] {
  width: 9em;
}
.Input-input[size='8'] {
  width: 10em;
}
.Input-input[size='9'] {
  width: 11em;
}
.Input-input[size='10'] {
  width: 12em;
}

.Input--invalid .Input-input {
  border-color: var(--input-border-color-error);
  background-color: rgba(194, 64, 23, 0.12);
}
.Input--invalid.Input--discreet .Input-input {
  background: transparent !important;
}

.Input-error {
  display: block;
  margin: 0.5em 0;
  font-size: var(--font-size-small);
  color: var(--color-error);
}
.Input-errorIcon {
  margin: -0.4em 0.25em 0 0;
}

.Input--hasFocus:not(.Input--discreet) .Input-input {
  border-color: var(--input-border-color-focus);
  box-shadow: 0 1px 3px rgba(0, 160, 186, 0.25);
  outline: none;
}

.Input-input[disabled] {
  pointer-events: none;
  border-color: var(--input-border-color-disabled);
  background: var(--input-background-color-disabled);
  box-shadow: none;
}
.Input--discreet .Input-input[disabled] {
  border: none;
  background: none;
}

.Input--rounded .Input-input {
  border-radius: 2em;
  padding-right: 0.75em;
}
.Input-description {
  margin: 0.5em 0;
  color: var(--color-dark-grey);
}
.Input-unit {
  pointer-events: none;
  position: absolute;
  right: 0;
  padding-right: 1em;
  line-height: var(--input-line-height);
}
