.Carousel {
  position: relative;
}
.Carousel-wrapper {
  overflow: auto;
  position: relative;
  max-height: 100%;
  padding: 0 0 2em;
  /* padding: 0 calc(100vw - var(--layout-max-width) - var(--layout-gutter) - 1em); */
}
.Carousel-innerWrapper {
  display: inline-block;
  max-height: 100%;
  /* padding: 0 calc((100vw - var(--layout-max-width)) / 2); */
}
.Carousel-items {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  user-select: none;
  max-height: 100%;
}
.Carousel--multiple .Carousel-item {
  width: auto;
  padding: 1em;
}
.Carousel-item {
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  max-height: 100%;
}
.Carousel-item img {
  pointer-events: none;
}
.Carousel-item--image {
  justify-content: center;
  align-items: center;
  background: var(--color-black);
}
.Carousel-item > * {
  flex: 1 1 auto;
}
.Carousel-image {
  max-width: 100%;
  max-height: 100%;
}
.Carousel-actions {
}
.Carousel-stepleft {
  position: absolute;
  top: 50%;
  z-index: 2;
  left: 0;
}
.Carousel-stepRight {
  position: absolute;
  top: 50%;
  z-index: 2;
  right: 0;
}
