.Radio {
  padding: 1px;
}
.Radio-inputWrapper {
}
.Radio-input {
  position: absolute;
  left: -999em;
}
.Radio-label {
  padding-left: 1.5em;
  position: relative;
}
.Radio-label::before {
  content: '';
  text-align: center;
  line-height: 1em;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -0.5em;
  width: 1em;
  height: 1em;
  box-shadow: 0 0 0 1px var(--color-black38);
  transition: var(--transition);
  border-radius: 2em;
}
.Radio-label:hover::before {
  box-shadow: 0 0 0 1px var(--color-black60);
}
.Radio-input:focus + .Radio-label::before {
  box-shadow: 0 1px 2px 0 var(--color-turquoise),
    inset 0 0 1px 0 var(--color-turquoise);
}
.Radio-input:checked + .Radio-label::before {
  color: var(--color-white);
  background: var(--color-red);
  box-shadow: 0 0 0 1px var(--color-red), inset 0 0 0 3px var(--color-white);
}
.Radio-checkIcon {
  text-align: center;
  line-height: 1em;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -0.5em;
  opacity: 0;
  transition: opacity var(--transition);
  color: var(--color-white);
}
.Radio-input:checked + .Radio-label .Radio-checkIcon {
  opacity: 1;
}
