.Radio {
  padding: 1px;
}
.Radio-inputWrapper {
}
.Radio-input {
  position: absolute;
  left: -999em;
}
.Radio--disabled {
  pointer-events: none;
}
.Radio--disabled .Radio-label::before,
.Radio--disabled .Radio-label:hover::before {
  background: var(--color-disabled);
  box-shadow: 0 0 0 1px var(--color-grey);
}
.Radio-label {
  padding-left: 1.5em;
  position: relative;
}
.Radio-label::before {
  content: '';
  text-align: center;
  line-height: 1em;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -0.5em;
  width: 1em;
  height: 1em;
  box-shadow: 0 0 0 1px var(--color-grey);
  transition: var(--transition);
  border-radius: 2em;
}
.Radio-label:hover::before {
  box-shadow: 0 0 0 1px var(--color-dark-grey);
}
.Radio-input:focus + .Radio-label::before {
  box-shadow: 0 1px 2px 0 var(--color-focus), inset 0 0 1px 0 var(--color-focus);
}
.Radio-input:checked + .Radio-label::before {
  color: var(--color-white);
  background: var(--color-dark-grey);
  box-shadow: 0 0 0 1px var(--color-dark-grey),
    inset 0 0 0 3px var(--color-white);
}
