:root {
  --color-background: #ffffff;
  --color-text: #333333;
  --color-link: darkblue;
  --color-action: red;
  --color-primary-action: purple;
  --color-primary-secondary: purple;
  --color-error: darkred;
  --color-warning: orange;
  --color-information: lightblue;
  --color-hover: turquoise;
  --color-focus: turquoise;
  --color-disabled: var(--color-light-grey);

  --color-lighter-grey: #efefef;
  --color-light-grey: #dfdfde;
  --color-grey: #ccc;
  --color-medium-grey: #ccc;
  --color-dark-grey: #999;
  --color-darker-grey: #666;

  --color-black: #000;
  --color-white: #fff;
}
:root .color-background {
  color: var(--color-background);
}
:root .color-text {
  color: var(--color-text);
}
:root .color-link {
  color: var(--color-link);
}
:root .color-action,
:root .color-primary-action {
  color: var(--color-primary-action);
}
:root .color-secondary-action {
  color: var(--color-secondary-action);
}

:root .color-error {
  color: var(--color-error);
}
:root .color-warning {
  color: var(--color-warning);
}
:root .color-information {
  color: var(--color-information);
}
:root .color-lighter-grey {
  color: var(--color-lighter-grey);
}
:root .color-light-grey {
  color: var(--color-light-grey);
}
:root .color-medium-grey {
  color: var(--color-medium-grey);
}
:root .color-dark-grey {
  color: var(--color-dark-grey);
}
:root .color-darker-grey {
  color: var(--color-darker-grey);
}
:root .color-black {
  color: var(--color-black);
}
:root .color-white {
  color: var(--color-white);
}
