:root {
  --Link-color: var(--color-link);
  --Link-color-hover: var(--color-link);
  --Link-decoration: none;
  --Link-decoration-hover: underline;
}
.Link {
  display: inline;
  font: inherit;
  color: var(--Link-color);
  text-decoration: none;
}
.Link--plain {
  color: inherit;
  display: contents;
}
.Link--block {
  display: block;
}

.Link:hover:not(.Link--plain),
.Link:focus:not(.Link--plain) {
  color: var(--Link-color-hover);
}
.Link:hover:not(.Link--plain) .Link-text,
.Link:focus:not(.Link--plain) .Link-text {
  text-decoration: var(--Link-decoration-hover);
}

.Link-wrapper {
  flex: 1 0 auto;
  display: flex;
  flex-direction: row;
}
.Link--withIcon .Link-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.Link-icon {
  flex: 0;
  padding-top: 0.15em;
  padding-right: 0.15em;
}
.Link-text {
  flex: 1;
  display: flex;
}

.Link--plain,
.Link--plain .Link-wrapper,
.Link--plain .Link-text {
  display: contents;
}
